nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    
}
.choice:hover{
    cursor: pointer;
    box-shadow: 1em;
    background-color:grey;
    transition: 0.7s;
    
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
p {
    border: 1px black solid;
    padding: 1em;
    margin: 1em;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: brown;
}


